<?xml version="1.0" encoding="UTF-8"?>


<beans  xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   
   
   <bean id="triangle_bean_id" class="com.shivam.drawing_shapes.Triangle" autowire="byName" > 

   </bean>
   
   <!--  VARIABLE NAMES AND BEAN ID SHOULD MATCH, FOR AUTOWIRE TO WORK -->
   
   <bean id="pointA_variable" class="com.shivam.drawing_shapes.Point">
   		<property name="x" value="1"></property>
   		<property name="y" value="1"></property>
   </bean>
   
   <bean id="pointB_variable" class="com.shivam.drawing_shapes.Point">
   		<property name="x" value="-1"></property>
   		<property name="y" value="-1"></property>
   </bean>
   
   <bean id="pointC_variable" class="com.shivam.drawing_shapes.Point">
   		<property name="x" value="0"></property>
   		<property name="y" value="0"></property>
   </bean>
   
   <alias name="triangle_bean_id" alias="triangle_alias"></alias>
   
</beans>